html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
  margin: 0;
  padding: 0;
}

.main-wrap {
  width: 100%;
}
.main-wrap .head-box {
  height: 1000px;
  background-image: url("../image/headbanner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main-wrap .head-box .content-box {
  margin: 0 auto;
  padding-top: 41px;
  width: 1600px;
}
.main-wrap .head-box .head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrap .head-box .img-box img {
  width: 100px;
  height: 100px;
}
.main-wrap .head-box .right-title a {
  margin: 0 60px;
  font-size: 18px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 21px;
  -webkit-background-clip: text;
}
.main-wrap .head-box .right-title a:last-child {
  margin-right: 0;
}
.main-wrap .head-box .company-slogan {
  margin-top: 126px;
  font-size: 72px;
  font-family: FZLanTingHeiS-B-GB-Regular, FZLanTingHeiS-B-GB;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 84px;
  -webkit-background-clip: text;
}
.main-wrap .head-box .company-emphasis-slogan {
  margin-top: 25px;
  font-size: 72px;
  font-family: FZLanTingHeiS-B-GB-Regular, FZLanTingHeiS-B-GB;
  font-weight: 400;
  color: #1A3C90;
  line-height: 84px;
  -webkit-background-clip: text;
}
.main-wrap .head-box .btn-box {
  margin-top: 50px;
}
.main-wrap .head-box .btn-box .btn {
  width: 200px;
  height: 60px;
  border-radius: 12px;
}
.main-wrap .middle-box {
  height: 900px;
  background-image: url("../image/middlebanner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main-wrap .middle-box .content-box {
  margin: 0 auto;
  width: 1600px;
}
.main-wrap .middle-box .left-box .first-title {
  margin-top: 53px;
  height: 67px;
  font-size: 48px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #1A3C90;
  line-height: 56px;
  -webkit-background-clip: text;
}
.main-wrap .middle-box .left-box .line {
  margin: 20px 0;
  width: 112px;
  height: 5px;
  background: #1A3C90;
  border-radius: 2px;
}
.main-wrap .middle-box .left-box .secend-title {
  height: 45px;
  font-size: 32px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #1A3C90;
  line-height: 38px;
  -webkit-background-clip: text;
}
.main-wrap .middle-box .add-mt-32 {
  margin-top: 32px;
}
.main-wrap .middle-box .single-box {
  margin-bottom: 30px;
  padding: 55px 75px 0;
  width: 400px;
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 27px 0px rgba(72, 72, 72, 0.05);
  border-radius: 12px 12px 12px 12px;
  cursor: pointer;
}
.main-wrap .middle-box .single-box img {
  width: 250px;
  height: 250px;
}
.main-wrap .middle-box .single-box .text {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 21px;
  -webkit-background-clip: text;
}
.main-wrap .three-box {
  height: 900px;
  background-image: url("../image/lastbanner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main-wrap .three-box .content-box {
  margin: 0 auto;
  width: 1600px;
}
.main-wrap .three-box .left-box .first-title {
  margin-top: 127px;
  height: 67px;
  font-size: 48px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #F5F5F5;
  line-height: 56px;
  -webkit-background-clip: text;
}
.main-wrap .three-box .left-box .line {
  margin: 20px 0;
  width: 112px;
  height: 5px;
  background: #F5F5F5;
  border-radius: 2px;
}
.main-wrap .three-box .left-box .secend-title {
  height: 45px;
  font-size: 32px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #F5F5F5;
  line-height: 38px;
  -webkit-background-clip: text;
}
.main-wrap .three-box .add-mt-127 {
  margin-top: 127px;
}
.main-wrap .three-box .single-box {
  margin-bottom: 40px;
  padding: 36px 28px 0;
  width: 600px;
  height: 131px;
  background: #FFFFFF;
  box-shadow: 0px 4px 27px 0px rgba(72, 72, 72, 0.05);
  border-radius: 12px;
}
.main-wrap .three-box .single-box .head-title {
  margin-bottom: 15px;
  height: 25px;
  font-size: 18px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 21px;
  -webkit-background-clip: text;
}
.main-wrap .three-box .single-box .text {
  height: 20px;
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 16px;
  -webkit-background-clip: text;
}

.about-us-wrap {
  width: 100%;
}
.about-us-wrap .head-box {
  height: 400px;
  background-image: url("../image/aboutbanner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.about-us-wrap .head-box .content-box {
  margin: 0 auto;
  padding-top: 41px;
  width: 1600px;
}
.about-us-wrap .head-box .head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us-wrap .head-box .img-box img {
  width: 100px;
  height: 100px;
}
.about-us-wrap .head-box .right-title a {
  margin: 0 60px;
  font-size: 18px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 21px;
  -webkit-background-clip: text;
}
.about-us-wrap .head-box .right-title a:last-child {
  margin-right: 0;
}
.about-us-wrap .head-box .about-us {
  margin-top: 60px;
  text-align: center;
  height: 67px;
  font-size: 48px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 56px;
  -webkit-background-clip: text;
}
.about-us-wrap .middle-box {
  width: 100%;
}
.about-us-wrap .middle-box .content-box {
  margin: 0 auto;
  padding-bottom: 150px;
  width: 1600px;
}
.about-us-wrap .middle-box .row {
  margin-top: 40px;
}
.about-us-wrap .middle-box .left-box li {
  margin-bottom: 30px;
  width: 321px;
  height: 81px;
  line-height: 81px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 27px 0px rgba(72, 72, 72, 0.16);
  border-radius: 12px;
}
.about-us-wrap .middle-box .left-box .active-li {
  background: #1A3C90;
  color: #fff;
}
.about-us-wrap .middle-box .right-box .img-box img {
  width: 1240px;
  height: 564px;
}
.about-us-wrap .middle-box .right-box .introduce {
  margin-top: 30px;
}

.product-wrap {
  width: 100%;
}
.product-wrap .head-box {
  height: 400px;
  background-image: url("../image/productbanner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.product-wrap .head-box .content-box {
  margin: 0 auto;
  padding-top: 41px;
  width: 1600px;
}
.product-wrap .head-box .head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrap .head-box .img-box img {
  width: 100px;
  height: 100px;
}
.product-wrap .head-box .right-title a {
  margin: 0 60px;
  font-size: 18px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 21px;
  -webkit-background-clip: text;
}
.product-wrap .head-box .right-title a:last-child {
  margin-right: 0;
}
.product-wrap .head-box .about-us {
  margin-top: 60px;
  text-align: center;
  height: 67px;
  font-size: 48px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 56px;
  -webkit-background-clip: text;
}
.product-wrap .middle-box {
  width: 100%;
}
.product-wrap .middle-box .content-box {
  margin: 0 auto;
  padding-bottom: 150px;
  width: 1600px;
}
.product-wrap .middle-box .row {
  margin-top: 40px;
}
.product-wrap .middle-box .left-box li {
  margin-bottom: 30px;
  width: 321px;
  height: 81px;
  line-height: 81px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 27px 0px rgba(72, 72, 72, 0.16);
  border-radius: 12px;
}
.product-wrap .middle-box .left-box .active-li {
  background: #1A3C90;
  color: #fff;
}
.product-wrap .middle-box .right-box {
  padding: 55px 30px 50px;
  width: 1253px;
  background: #FFFFFF;
  box-shadow: 0px 1px 27px 0px rgba(72, 72, 72, 0.16);
  border-radius: 12px;
}
.product-wrap .middle-box .single-box {
  height: 310px;
}
.product-wrap .middle-box .single-box img {
  width: 250px;
  height: 250px;
}
.product-wrap .middle-box .single-box .text {
  margin-top: 15px;
  text-align: center;
  height: 25px;
  font-size: 18px;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 21px;
  -webkit-background-clip: text;
}

.footer-box {
  height: 320px;
  background: #3B3B3B;
}
.footer-box .content-box {
  margin: 0 auto;
  width: 1600px;
}
.footer-box div {
  color: #fff;
}
.footer-box .flex-box {
  display: flex;
  justify-content: space-between;
}
.footer-box .left-box .img-box {
  margin: 50px 0 40px;
}
.footer-box .left-box .img-box img {
  width: 100px;
  height: 100px;
}
.footer-box .left-box .text {
  margin-bottom: 10px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 16px;
  -webkit-background-clip: text;
}
.footer-box .right-box .head-title {
  margin-top: 50px;
  margin-bottom: 16px;
  height: 25px;
  font-size: 18px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 21px;
  -webkit-background-clip: text;
}
.footer-box .right-box li {
  margin-bottom: 10px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 16px;
  -webkit-background-clip: text;
}

@media (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}
@media (min-width: 1200px) {
  .about-us-wrap .middle-box .col-md-two-point-two, .product-wrap .middle-box .col-md-two-point-two {
    width: 22%;
    float: left;
  }
  .about-us-wrap .middle-box .col-md-nine-point-eight, .product-wrap .middle-box .col-md-nine-point-eight {
    width: 78%;
    float: left;
  }
}
@media (max-width: 768px) {
  .main-wrap .head-box {
    height: 666px;
  }
  .main-wrap .head-box .content-box {
    margin: 0 auto;
    padding-top: 41px;
    padding-left: 30px;
    width: 100%;
  }
  .main-wrap .head-box .head-title {
    display: block;
  }
  .main-wrap .head-box .img-box {
    margin-bottom: 40px;
    width: 100%;
  }
  .main-wrap .head-box .right-title {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
  }
  .main-wrap .head-box .right-title a {
    margin: 0;
  }
  .main-wrap .head-box .company-slogan {
    margin-top: 126px;
    font-size: 24px;
  }
  .main-wrap .head-box .company-emphasis-slogan {
    margin-top: 25px;
    font-size: 24px;
  }
  .main-wrap .middle-box {
    height: auto;
    background-image: url("../image/middlebanner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .main-wrap .middle-box .content-box {
    margin: 0 auto;
    width: 100%;
  }
  .main-wrap .middle-box .left-box {
    padding-left: 30px;
  }
  .main-wrap .middle-box .add-margin-10 {
    margin: 0 auto;
  }
  .main-wrap .three-box {
    height: auto;
    background-image: url("../image/lastbanner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .main-wrap .three-box .content-box {
    margin: 0 auto;
    width: 100%;
  }
  .main-wrap .three-box .left-box {
    padding-left: 30px;
  }
  .main-wrap .three-box .col-xs-add-margin-10 {
    padding: 0 10px;
  }
  .main-wrap .three-box .add-mt-127 {
    margin-top: 127px;
  }
  .main-wrap .three-box .single-box {
    padding: 36px 10px 0;
    width: 100%;
  }
  .product-wrap {
    width: 100%;
  }
  .product-wrap .head-box {
    height: 400px;
  }
  .product-wrap .head-box .content-box {
    width: 100%;
  }
  .product-wrap .head-box .head-title {
    display: block;
    padding-left: 30px;
  }
  .product-wrap .head-box .img-box {
    margin-bottom: 40px;
    width: 100%;
  }
  .product-wrap .head-box .right-title {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
  }
  .product-wrap .head-box .right-title a {
    margin: 0;
  }
  .product-wrap .middle-box {
    width: 100%;
  }
  .product-wrap .middle-box .content-box {
    width: 100%;
  }
  .product-wrap .middle-box .row {
    margin-top: 40px;
  }
  .product-wrap .middle-box .left-box ul li {
    margin: 0 auto 40px;
  }
  .product-wrap .middle-box .right-box {
    width: 100%;
  }
  .product-wrap .middle-box .single-box {
    width: 100%;
    text-align: center;
  }
  .about-us-wrap {
    width: 100%;
  }
  .about-us-wrap .head-box {
    height: 400px;
  }
  .about-us-wrap .head-box .content-box {
    width: 100%;
  }
  .about-us-wrap .head-box .head-title {
    display: block;
    padding-left: 30px;
  }
  .about-us-wrap .head-box .img-box {
    margin-bottom: 40px;
    width: 100%;
  }
  .about-us-wrap .head-box .right-title {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
  }
  .about-us-wrap .head-box .right-title a {
    margin: 0;
  }
  .about-us-wrap .middle-box {
    width: 100%;
  }
  .about-us-wrap .middle-box .content-box {
    width: 100%;
  }
  .about-us-wrap .middle-box .row {
    margin-top: 40px;
  }
  .about-us-wrap .middle-box .left-box ul li {
    margin: 0 auto 40px;
  }
  .about-us-wrap .middle-box .right-box {
    width: 100%;
  }
  .about-us-wrap .middle-box .right-box .img-box img {
    width: 100%;
    height: auto;
  }
  .about-us-wrap .middle-box .right-box .introduce {
    padding: 0 10px;
  }
  .footer-box {
    height: auto;
    background: #3B3B3B;
  }
  .footer-box .content-box {
    margin: 0 auto;
    width: 100%;
  }
  .footer-box div {
    color: #fff;
  }
  .footer-box .flex-box {
    display: block;
  }
  .footer-box .left-box {
    padding-left: 30px;
  }
  .footer-box .left-box .img-box {
    margin: 50px 0 40px;
  }
  .footer-box .right-box {
    padding-left: 30px;
  }
}/*# sourceMappingURL=index.css.map */